<div>
	<div class="panel panel-default" ng-repeat="data in messagelist">
	    <div class="panel-body">		
       		<h2 class="card-title"><a ng-href="{{href('/message/'+data.messageId)}}">{{data.title}}</a></h2>
            <img class="card-avatar" src="../img/head.jpg"><span class="card-username">{{data.userName}}</span>
            <div class="card-content">
                {{data.content}}	
            </div>
            <div class="card-footer">
	            <button ng-click="upCount(data)" type="button" class="btn btn-default" aria-label="Left Align">
	            	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	            	<span >{{data.upCount}}</span>
	            </button>
	            <a ng-href="{{href('/message/'+data.messageId)}}">
		            <button type="button" class="btn btn-default btn-link" aria-label="Left Align">
		            	<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
		            	<span >{{data.count}}条评论</span>
		            </button>
	            </a>
	        	<p class="card-date"><span class="badge">{{ getDates(data.date) | date:'yyyy-MM-dd HH:mm:ss' }}</span></p>
        	</div>
	    </div>
	</div>
	<loadmore></loadmore>
</div>

